[options]
isa rv32i

[depth]
insn            20
reg       15    25
pc_fwd    10    30
pc_bwd    10    30
liveness  1  10 30
unique    1  10 30
causal    10    30

[defines]
`define RISCV_FORMAL
`define RISCV_FORMAL_NRET 1
`define RISCV_FORMAL_XLEN 32
`define RISCV_FORMAL_ILEN 32
`define RISCV_FORMAL_ALIGNED_MEM

[script-sources]
# Absolute paths ensure Yosys finds the files regardless of internal directory switching
read_verilog /workspaces/nano-rv32i/tests/riscv-formal/cores/nano-rv32i/flattened.v

# Synthesize and elaborate the top-level formal wrapper
#prep -top rvfi_wrapper
#AI said that line was causing an issue...