IO_LOC "clk_27MHz" 4;
IO_LOC "reset_button" 88;
IO_PORT "reset_button" PULL_MODE=DOWN;
IO_LOC "tohost[5]" 20;
IO_LOC "tohost[4]" 19;
IO_LOC "tohost[3]" 18;
IO_LOC "tohost[2]" 17;
IO_LOC "tohost[1]" 16;
IO_LOC "tohost[0]" 15;